/********************
* FONTS
********************/

@font-face {
    font-family: "Figtree";
    src: url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}

/********************
* RESET
********************/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/********************
* VARIABLES
********************/

:root {
    /* Colours */
    --yellow: #f4d04e;
    --grey-500: #6b6b6b;
    --grey-950: #111;
    --white: #fff;
    /* Typography: Font sizes */
    --font-fs-sm: 0.875rem;
    --font-fs-md: 1rem;
    --font-fs-lg: 1.5rem;
    /* Typography: Font weights */
    --font-fw-md: 500;
    --font-fw-xb: 800;
    /* Spacing */
    --spacing-50: 0.25rem;
    --spacing-100: 0.5rem;
    --spacing-150: 0.75rem;
    --spacing-300: 1.5rem;
}

/********************
* BASE
********************/

body {
    background-color: var(--yellow);
    font-family: "Figtree", sans-serif;
    line-height: 150%;
    font-weight: var(--font-fw-md);
    letter-spacing: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    margin-block: auto;
}

/********************
* CARD
********************/

.card {
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 20px;
}

.card-main-img {
    border-radius: 10px;
}

.footer-card {
    display: flex;
    align-items: center;
    gap: var(--spacing-150);
}

.card-author-img {
    width: 32px;
}

.card-author {
    font-weight: var(--font-fw-xb);
    font-size: var(--font-fs-sm);
}

/********************
* FOOTER
********************/

.footer-main {
    margin-bottom: 1rem;
    text-align: center;
}

.attribution {
    font-size: 0.75rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
